@use '../vars' as vars;

.oxford-banner {
  background-image: url('../img/oxford/banner.webp');
  background-repeat: no-repeat;
  background-size: contain;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: calc(65.625vw + 92px);
    padding-top: 11.875vw;
  }

  &__title {
    font-family: vars.$font-playfair-display;
    color: vars.$color-gold;
    font-weight: 900;
    font-size: 7.5vw;
    line-height: 95%;
  }

  &__description {
    max-width: 58.438vw;
    color: white;
    width: 700px;
    font-size: 5vw;
    line-height: 120%;
  }

  &__link {
    position: absolute;
    bottom: 0;
    align-self: center;
    width: 296px;
  }
}

.oxford-banner-small {
  padding: 30px;
  padding-top: 222px;
  border-radius: 10px;
  background-color: vars.$color-black;
  background-image: url('../img/oxford/small.webp');
  background-repeat: no-repeat;

  &__title {
    @extend .oxford-banner__title;

    font-weight: 900;
  }

  &__description {
    @extend .oxford-banner__description;

    color: vars.$color-gray;
  }
}

@media (min-width: 576px) {
  .oxford {
    margin-bottom: 70px;
  }

  .oxford-banner {
    background-image: url('../img/oxford/banner-768.webp');
    aspect-ratio: 768 / 600;
    height: auto;

    &__container {
      position: static;
      display: block;
      padding: 161px 36px;
      padding-top: min(21vw, 161px);
      margin-bottom: 0;
    }

    &__title {
      margin-bottom: -7px;
      font-size: 60px;
      line-height: 72px;
    }

    &__description {
      max-width: 508px;
      margin-bottom: 69px;
      font-size: 48px;
      line-height: 57.6px;
    }

    &__link {
      position: static;
      padding: 17px 31px;
    }
  }
}

@media (min-width: 992px) {
  .oxford-banner {
    background-image: url('../img/oxford/banner-1024.webp');
    background-size: cover;
    aspect-ratio: auto;

    &__container {
      height: 600px;
      padding: 0 20px;
      padding-top: 15.918vw;
    }

    &__description {
      margin-bottom: 69px;
    }
  }
}

@media (min-width: 1400px) {
  .oxford-banner {
    background-image: url('../img/oxford/banner-1920.webp');
    aspect-ratio: auto;

    &__container {
      padding: 0;
      padding-top: 163px;
    }
  }

  .oxford-banner-small {
    width: 100%;

    &__title {
      margin-bottom: -3px;
      font-size: 24px;
      line-height: 32px;
    }

    &__description {
      margin-bottom: 0;
      width: auto;
      max-width: 200px;
      padding-bottom: 12px;
      font-size: 16px;
      line-height: 22px;
    }

    &__link {
      font-weight: 700;
      font-size: 16px;
      line-height: 120%;
    }
  }
}
