<footer class="footer">
  <div class="footer__main container">
    <a class="footer__logo logo-link" href="index.html">
      <img class="lazy" data-src="img/header/logo.webp" alt="Логотип SitDownPls">
    </a>
    <ul class="footer__links contacts">
      <li class="contacts__item">
        <a class="contacts__link link-social" href="javascript: void(0);" aria-label="Facebook">
          <svg class="contacts__icon link-social__icon">
            <use xlink:href="img/sprite.svg#fb"></use>
          </svg>
        </a>
      </li>
      <li class="contacts__item">
        <a class="contacts__link link-social" href="javascript: void(0);" aria-label="ВКонтакте">
          <svg class="contacts__icon link-social__icon">
            <use xlink:href="img/sprite.svg#vk"></use>
          </svg>
        </a>
      </li>
      <li class="contacts__item">
        <a class="contacts__link link-social" href="javascript: void(0);" aria-label="Instagram">
          <svg class="contacts__icon link-social__icon">
            <use xlink:href="img/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <ul class="footer__menu footer-menu">
      <li class="footer-menu__submenu">
        <h3 class="footer-menu__title">О нас</h3>
        <ul class="footer-menu__list">
          <li class="footer-menu__item">
            <a class="footer-menu__link link-light common-link" href="javascript: void(0);">
              <span class="common-link__content">
                О компании
              </span>
            </a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link link-light common-link" href="javascript: void(0);">
              <span class="common-link__content">
                Блог
              </span>
            </a>
          </li>
        </ul>
      </li>
      <li class="footer-menu__submenu">
        <h3 class="footer-menu__title">Услуги</h3>
        <ul class="footer-menu__list">
          <li class="footer-menu__item">
            <a class="footer-menu__link link-light common-link" href="javascript: void(0);">
              <span class="common-link__content">
                Доставка
              </span>
            </a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link link-light common-link" href="javascript: void(0);">
              <span class="common-link__content">
                Рассрочка и кредит
              </span>
            </a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link link-light common-link" href="javascript: void(0);">
              <span class="common-link__content">
                Сборка и установка
              </span>
            </a>
          </li>
        </ul>
      </li>
      <li class="footer-menu__submenu">
        <h3 class="footer-menu__title">Связь с нами</h3>
        <ul class="footer-menu__list">
          <li class="footer-menu__item">
            <a class="footer-menu__link link-light common-link" href="javascript: void(0);">
              <span class="common-link__content">
                Обратная связь
              </span>
            </a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link link-light common-link" href="javascript: void(0);">
              <span class="common-link__content">
                Контакты
              </span>
            </a>
          </li>
        </ul>
      </li>
      <li class="footer-menu__submenu">
        <h3 class="footer-menu__title">Сотрудничество</h3>
        <ul class="footer-menu__list">
          <li class="footer-menu__item">
            <a class="footer-menu__link link-light common-link" href="suppliers.html">
              <span class="common-link__content">
                Поставщикам
              </span>
            </a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link link-light common-link" href="suppliers.html">
              <span class="common-link__content">
                Оптовикам
              </span>
            </a>
          </li>
          <li class="footer-menu__item">
            <a class="footer-menu__link link-light common-link" href="javascript: void(0);">
              <span class="common-link__content">
                Карьера
              </span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="footer__copyright container">
    SDP&reg;&nbsp;&nbsp;&nbsp;2011-2021
  </div>
</footer>
