<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>SitDownPls</title>

<!-- Fonts -->
<!-- Open Sans -->
<link rel="preload" href="./fonts/opensans-regular-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="./fonts/opensans-semibold-webfont.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="./fonts/opensans-bold-webfont.woff2" as="font" type="font/woff2" crossorigin>
<!-- Playfair Display -->
<link rel="preload" href="./fonts/playfairdisplay-black-webfont.woff2" as="font" type="font/woff2" crossorigin>

<!-- <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"> -->
<link rel="icon" type="image/png" href="./img/favicon.png">
<!-- Stylesheets -->
<!-- Swiper -->

<link rel="stylesheet" href="./css/vendor.css">
<link rel="stylesheet" href="./css/main.css">

<!-- Scripts -->
<!-- Choices.js -->
<script src="./plugins/choices.min.js"></script>
<!-- Swiper -->
<script defer src="./plugins/swiper-bundle.min.js"></script>
<!-- Tippy -->
<script src="./plugins/popper.min.js"></script>
<script src="./plugins/tippy-bundle.umd.min.js"></script>
<!-- Just Validate -->
<script src="./plugins/just-validate.production.min.js"></script>
<!-- Lazyload -->
<script src="./plugins/lazyload.min.js"></script>
