<section class="hero">
  <div class="hero__swiper hero-swiper swiper">
    <div class="swiper-wrapper">
      <div class="hero-swiper__slide swiper-slide hero-swiper__slide-1">
        <div class="hero-swiper__content">
          <h2 class="hero-swiper__text hero-swiper__text-1">
            Скидка 15% на первую покупку
          </h2>
          <a class="hero__link button-primary swiper-no-swiping" href="catalog.html">Получить!</a>
        </div>
      </div>
      <div class="hero-swiper__slide swiper-slide hero-swiper__slide-2">
        <div class="hero-swiper__content">
          <h2 class="hero-swiper__text hero-swiper__text-2">
            1000+ аксессуаров для дома
          </h2>
          <a class="hero__link button-primary swiper-no-swiping" href="catalog.html">Получить!</a>
        </div>
      </div>
      <div class="hero-swiper__slide swiper-slide hero-swiper__slide-3">
        <div class="hero-swiper__content">
          <h2 class="hero-swiper__text hero-swiper__text-3">
            Коллекция стильного и яркого текстиля
          </h2>
          <a class="hero__link button-primary swiper-no-swiping" href="catalog.html">Получить!</a>
        </div>
      </div>
    </div>
    <div class="hero-swiper__pagination swiper-pagination" aria-hidden="true"></div>
  </div>
  <a class="hero__outside-link button-primary" href="catalog.html">Получить!</a>
</section>

<article class="special">
  <div class="special__container container common-swiper">
    <h2 class="special__title common-swiper__title h2">Специальные предложения</h2>
    <div class="special__swiper special-swiper common-swiper__swiper swiper">
      <div class="common-swiper__wrapper swiper-wrapper">
        <div class="swiper-slide special-swiper__slide common-swiper__slide">
          <div class="common-swiper__card special-card">
            <div class="special-card__badge">-&nbsp;9&nbsp;000</div>
            <div class="special-card__image-container">
              <img class="special-card__image lazy" src="#" data-src="./img/special/special-1.webp" alt="Фотография желтого кресла 'X-24'">
            </div>
            <h3 class="special-card__title">Кресло велюровое “X&#8209;24”</h3>
            <div class="special-card__prices">
              <p class="special-card__new-price">15&nbsp;990&nbsp;руб</p>
              <del class="special-card__old-price">24&nbsp;990&nbsp;руб</del>
            </div>
            <a class="special-card__button button-secondary swiper-no-swiping" href="item-card.html">Купить</a>
          </div>
        </div>
        <div class="swiper-slide special-swiper__slide common-swiper__slide special-swiper__big-card-slide">
          <div class="common-swiper__card special-card">
            <div class="special-card__badge">-&nbsp;10&nbsp;000</div>
            <div class="special-card__image-container">
              <picture>
                <source srcset="#" data-srcset="./img/special/special-2-big.webp" media="(min-width: 1400px)">
                  <img class="special-card__image lazy" src="#" data-src="./img/special/special-2.webp" alt="Фотография белого дивана 'Z-44'">
              </picture>
            </div>
            <img class="special-card__scheme lazy" src="#" data-src="./img/special/scheme-1.webp" alt="Схема-раскладной диван">
            <h3 class="special-card__title">Диван тканевый “Z&#8209;44”</h3>
            <div class="special-card__prices">
              <p class="special-card__new-price">22&nbsp;990&nbsp;руб</p>
              <del class="special-card__old-price">32&nbsp;990&nbsp;руб</del>
            </div>
            <a class="special-card__button button-secondary swiper-no-swiping" href="item-card.html">Купить</a>
          </div>
        </div>
        <div class="swiper-slide special-swiper__slide common-swiper__slide">
          <div class="common-swiper__card special-card">
            <div class="special-card__badge">-&nbsp;600</div>
            <div class="special-card__image-container">
              <img class="special-card__image lazy" src="#" data-src="./img/special/special-3.webp" alt="Фотография бронзового будильника с чёрным циферблатом 'Quartz-23'">
            </div>
            <h3 class="special-card__title">Будильник  “Quartz&#8209;23”</h3>
            <div class="special-card__prices">
              <p class="special-card__new-price">1&nbsp;290&nbsp;руб</p>
              <del class="special-card__old-price">1&nbsp;890&nbsp;руб</del>
            </div>
            <a class="special-card__button button-secondary swiper-no-swiping" href="item-card.html">Купить</a>
          </div>
        </div>
        <div class="swiper-slide special-swiper__slide common-swiper__slide">
          <div class="common-swiper__card special-card">
            <div class="special-card__badge">-&nbsp;300</div>
            <div class="special-card__image-container">
              <img class="special-card__image lazy" src="#" data-src="./img/special/special-4.webp" alt="Фотография чёрной скульптуры головы оленя">
            </div>
            <h3 class="special-card__title">Мини-скульптура “Oh my deer”</h3>
            <div class="special-card__prices">
              <p class="special-card__new-price">690&nbsp;руб</p>
              <del class="special-card__old-price">990&nbsp;руб</del>
            </div>
            <a class="special-card__button button-secondary swiper-no-swiping" href="item-card.html">Купить</a>
          </div>
        </div>
        <div class="swiper-slide special-swiper__slide common-swiper__slide special-swiper__big-card-slide">
          <div class="common-swiper__card special-card">
            <div class="special-card__badge">-&nbsp;10&nbsp;000</div>
            <div class="special-card__image-container">
              <picture>
                <source srcset="#" data-srcset="./img/special/special-5-big.webp" media="(min-width: 1400px)">
                  <img class="special-card__image lazy" src="#" data-src="./img/special/special-5.webp" alt="Фотография коричневого дивана 'Z-85' с белыми подушками">
              </picture>
            </div>
            <h3 class="special-card__title">Диван вел-флок “Z&#8209;85”</h3>
            <div class="special-card__prices">
              <p class="special-card__new-price">22&nbsp;990&nbsp;руб</p>
              <del class="special-card__old-price">32&nbsp;990&nbsp;руб</del>
            </div>
            <a class="special-card__button button-secondary swiper-no-swiping" href="item-card.html">Купить</a>
            <img class="special-card__scheme lazy" src="#" data-src="./img/special/scheme-2.webp" alt="Схема-выдвижной диван">
          </div>
        </div>
        <div class="swiper-slide special-swiper__slide common-swiper__slide">
          <div class="common-swiper__card special-card">
            <div class="special-card__badge">-&nbsp;700</div>
            <div class="special-card__image-container">
              <img class="special-card__image lazy" src="#" data-src="./img/special/special-6.webp" alt="Фотография круглого металического термометра 'H-18'">
            </div>
            <h3 class="special-card__title">Термометр + гидрометр “H&#8209;18”</h3>
            <div class="special-card__prices">
              <p class="special-card__new-price">1&nbsp;390&nbsp;руб</p>
              <del class="special-card__old-price">2&nbsp;090&nbsp;руб</del>
            </div>
            <button class="special-card__button button-secondary">Купить</button>
          </div>
        </div>
      </div>
    </div>

    <div class="special__buttons common-swiper__buttons">
      <div class=" common-swiper__button circle-button special__prev swiper-button-prev" aria-hidden="true">
        <div class="circle-button__icon-wrapper">
          <svg class="circle-button__icon">
            <use xlink:href="img/sprite.svg#circle-left"></use>
          </svg>
        </div>
      </div>
      <div class="common-swiper__button circle-button special__next swiper-button-next" aria-hidden="true">
        <div class="circle-button__icon-wrapper">
        <svg class="circle-button__icon">
          <use xlink:href="img/sprite.svg#circle-right"></use>
        </svg>
        </div>
      </div>
    </div>
  </div>
</article>

<article class="top-catalog">
  <div class="top-catalog__container container">
    <h2 class="top-catalog__title h2">Высокий рейтинг</h2>
    <ul class="top-catalog__list catalog-list catalog-list_cropped" aria-live="polite">

      <li class="catalog-list__item catalog-card">
        <div class="catalog-card__rating rating" aria-description="Рейтинг">5,0</div>
        <picture class="catalog-card__picture">
          <source srcset="#" data-srcset="./img/catalog/catalog-1.webp" media="(min-width: 400px)">
            <img class="catalog-card__image lazy" src="#" data-src="./img/catalog/catalog-1-small.webp" alt="Фотография черного дивана 'R-94'">
        </picture>
        <h3 class="catalog-card__title">Диван кожаный “R&#8209;94”</h3>
        <p class="catalog-card__price">94&nbsp;990&nbsp;руб</p>
        <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
      </li>

      <li class="catalog-list__item catalog-card">
        <div class="catalog-card__rating rating" aria-description="Рейтинг">4,9</div>
        <picture class="catalog-card__picture">
          <source srcset="#" data-srcset="./img/catalog/catalog-2.webp" media="(min-width: 400px)">
            <img class="catalog-card__image lazy" src="#" data-src="./img/catalog/catalog-2-small.webp" alt="Фотография коричневого дивана 'T-75'">
        </picture>
        <h3 class="catalog-card__title">Диван апартековый “T&#8209;75”</h3>
        <p class="catalog-card__price">69&nbsp;990&nbsp;руб</p>
        <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
      </li>

      <li class="catalog-list__item catalog-card">
        <div class="catalog-card__rating rating" aria-description="Рейтинг">4,8</div>
        <picture class="catalog-card__picture">
          <source srcset="#" data-srcset="./img/catalog/catalog-3.webp" media="(min-width: 400px)">
            <img class="catalog-card__image lazy" src="#" data-src="./img/catalog/catalog-3-small.webp" alt="Фотография синего дивана 'D-31'">
        </picture>
        <h3 class="catalog-card__title">Диван тканевый “D&#8209;31”</h3>
        <p class="catalog-card__price">28&nbsp;490&nbsp;руб</p>
        <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
      </li>

      <li class="catalog-list__item catalog-card">
        <div class="catalog-card__rating rating" aria-description="Рейтинг">4,8</div>
        <picture class="catalog-card__picture">
          <source srcset="#" data-srcset="./img/catalog/catalog-4.webp" media="(min-width: 400px)">
            <img class="catalog-card__image lazy" src="#" data-src="./img/catalog/catalog-4-small.webp" alt="Фотография оранжевого дивана 'Y-68'">
        </picture>
        <h3 class="catalog-card__title">Диван велюровый “Y&#8209;68”</h3>
        <p class="catalog-card__price">22&nbsp;990&nbsp;руб</p>
        <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
      </li>

      <li class="catalog-list__item catalog-card">
        <div class="catalog-card__rating rating" aria-description="Рейтинг">4,8</div>
        <picture class="catalog-card__picture">
          <source srcset="#" data-srcset="./img/catalog/catalog-5.webp" media="(min-width: 400px)">
            <img class="catalog-card__image lazy" src="#" data-src="./img/catalog/catalog-5-small.webp" alt="Фотография светло-желтого дивана 'W-95'">
        </picture>
        <h3 class="catalog-card__title">Диван из шинила “W&#8209;95”</h3>
        <p class="catalog-card__price">22&nbsp;990&nbsp;руб</p>
        <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
      </li>

      <li class="catalog-list__item catalog-card">
        <div class="catalog-card__rating rating" aria-description="Рейтинг">4,8</div>
        <picture class="catalog-card__picture">
          <source srcset="#" data-srcset="./img/catalog/catalog-6.webp" media="(min-width: 400px)">
            <img class="catalog-card__image lazy" src="#" data-src="./img/catalog/catalog-6-small.webp" alt="Фотография бежевого дивана 'G-41'">
        </picture>
        <h3 class="catalog-card__title">Диван флоковый “G&#8209;41”</h3>
        <p class="catalog-card__price">17&nbsp;990&nbsp;руб</p>
        <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
      </li>

      <li class="catalog-list__item catalog-card">
        <div class="catalog-card__rating rating" aria-description="Рейтинг">4,8</div>
        <picture class="catalog-card__picture">
          <source srcset="#" data-srcset="./img/catalog/catalog-7.webp" media="(min-width: 400px)">
            <img class="catalog-card__image lazy" src="#" data-src="./img/catalog/catalog-7-small.webp" alt="Фотография светло-серого дивана 'V-43'">
        </picture>
        <h3 class="catalog-card__title">Диван шиниловый “V&#8209;43”</h3>
        <p class="catalog-card__price">19&nbsp;990&nbsp;руб</p>
        <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
      </li>

      <li class="catalog-list__item catalog-card">
        <div class="catalog-card__rating rating" aria-description="Рейтинг">4,7</div>
        <picture class="catalog-card__picture">
          <source srcset="#" data-srcset="./img/catalog/catalog-8.webp" media="(min-width: 400px)">
            <img class="catalog-card__image lazy" src="#" data-src="./img/catalog/catalog-8-small.webp" alt="Фотография бледно-коричневого дивана 'S-99'">
        </picture>
        <h3 class="catalog-card__title">Диван велюровый “S&#8209;99”</h3>
        <p class="catalog-card__price">19&nbsp;990&nbsp;руб</p>
        <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
      </li>

      <li class="catalog-list__item catalog-card">
        <div class="catalog-card__rating rating" aria-description="Рейтинг">4,7</div>
        <picture class="catalog-card__picture">
          <source srcset="#" data-srcset="./img/catalog/catalog-9.webp" media="(min-width: 400px)">
            <img class="catalog-card__image lazy" src="#" data-src="./img/catalog/catalog-9-small.webp" alt="Фотография светло-зеленого дивана 'F-85'">
        </picture>
        <h3 class="catalog-card__title">Диван из кожзама “F&#8209;85”</h3>
        <p class="catalog-card__price">26&nbsp;990&nbsp;руб</p>
        <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
      </li>

      <li class="catalog-list__item catalog-card">
        <div class="catalog-card__rating rating" aria-description="Рейтинг">4,6</div>
        <picture class="catalog-card__picture">
          <source srcset="#" data-srcset="./img/catalog/catalog-10.webp" media="(min-width: 400px)">
            <img class="catalog-card__image lazy" src="#" data-src="./img/catalog/catalog-10-small.webp" alt="Фотография серого дивана 'H-64'">
        </picture>
        <h3 class="catalog-card__title">Диван флоковый “H&#8209;64”</h3>
        <p class="catalog-card__price">25&nbsp;990&nbsp;руб</p>
        <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
      </li>

      <li class="catalog-list__item catalog-card">
        <div class="catalog-card__rating rating" aria-description="Рейтинг">4,6</div>
        <picture class="catalog-card__picture">
          <source srcset="#" data-srcset="./img/catalog/catalog-11.webp" media="(min-width: 400px)">
            <img class="catalog-card__image lazy" src="#" data-src="./img/catalog/catalog-11-small.webp" alt="Фотография серо-голубого дивана 'H-58'">
        </picture>
        <h3 class="catalog-card__title">Диван флоковый “H&#8209;58”</h3>
        <p class="catalog-card__price">23&nbsp;990&nbsp;руб</p>
        <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
      </li>

      <li class="catalog-list__item catalog-card">
        <div class="catalog-card__rating rating" aria-description="Рейтинг">4,6</div>
        <picture class="catalog-card__picture">
          <source srcset="#" data-srcset="./img/catalog/catalog-12.webp" media="(min-width: 400px)">
            <img class="catalog-card__image lazy" src="#" data-src="./img/catalog/catalog-12-small.webp" alt="Фотография коричневого дивана 'R-43'">
        </picture>
        <h3 class="catalog-card__title">Диван из кожзама “R&#8209;43”</h3>
        <p class="catalog-card__price">33&nbsp;990&nbsp;руб</p>
        <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
      </li>

      <li class="catalog-list__item catalog-card">
        <div class="catalog-card__rating rating" aria-description="Рейтинг">4,6</div>
        <picture class="catalog-card__picture">
          <source srcset="#" data-srcset="./img/catalog/catalog-13.webp" media="(min-width: 400px)">
            <img class="catalog-card__image lazy" src="#" data-src="./img/catalog/catalog-13-small.webp" alt="Фотография серо-голубого дивана 'С-42'">
        </picture>
        <h3 class="catalog-card__title">Диван из шинила “С&#8209;42”</h3>
        <p class="catalog-card__price">18&nbsp;990&nbsp;руб</p>
        <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
      </li>

      <li class="catalog-list__item catalog-card">
        <div class="catalog-card__rating rating" aria-description="Рейтинг">4,6</div>
        <picture class="catalog-card__picture">
          <source srcset="#" data-srcset="./img/catalog/catalog-14.webp" media="(min-width: 400px)">
            <img class="catalog-card__image lazy" src="#" data-src="./img/catalog/catalog-14-small.webp" alt="Фотография оранжевого дивана 'U-58'">
        </picture>
        <h3 class="catalog-card__title">Диван велюровый “U&#8209;58”</h3>
        <p class="catalog-card__price">21&nbsp;990&nbsp;руб</p>
        <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
      </li>

      <li class="catalog-list__item catalog-card">
        <div class="catalog-card__rating rating" aria-description="Рейтинг">4,5</div>
        <picture class="catalog-card__picture">
          <source srcset="#" data-srcset="./img/catalog/catalog-15.webp" media="(min-width: 400px)">
            <img class="catalog-card__image lazy" src="#" data-src="./img/catalog/catalog-15-small.webp" alt="Фотография светло-серого дивана 'F-41'">
        </picture>
        <h3 class="catalog-card__title">Диван флоковый “F&#8209;41”</h3>
        <p class="catalog-card__price">17&nbsp;990&nbsp;руб</p>
        <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
      </li>

      <li class="catalog-list__item catalog-card">
        <div class="catalog-card__rating rating" aria-description="Рейтинг">4,5</div>
        <picture class="catalog-card__picture">
          <source srcset="#" data-srcset="./img/catalog/catalog-16.webp" media="(min-width: 400px)">
            <img class="catalog-card__image lazy" src="#" data-src="./img/catalog/catalog-16-small.webp" alt="Тёмно-серый диван 'R-85'">
        </picture>
        <h3 class="catalog-card__title">Диван велюровый “R&#8209;85”</h3>
        <p class="catalog-card__price">34&nbsp;990&nbsp;руб</p>
        <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
      </li>

      <li class="catalog-list__item catalog-card">
        <div class="catalog-card__rating rating" aria-description="Рейтинг">4,5</div>
        <picture class="catalog-card__picture">
          <source srcset="#" data-srcset="./img/catalog/catalog-17.webp" media="(min-width: 400px)">
            <img class="catalog-card__image lazy" src="#" data-src="./img/catalog/catalog-17-small.webp" alt="Фотография серо-голубого дивана 'S-44'">
        </picture>
        <h3 class="catalog-card__title">Диван велюровый “S&#8209;44”</h3>
        <p class="catalog-card__price">19&nbsp;990&nbsp;руб</p>
        <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
      </li>

      <li class="catalog-list__item catalog-card">
        <div class="catalog-card__rating rating" aria-description="Рейтинг">4,4</div>
        <picture class="catalog-card__picture">
          <source srcset="#" data-srcset="./img/catalog/catalog-18.webp" media="(min-width: 400px)">
            <img class="catalog-card__image lazy" src="#" data-src="./img/catalog/catalog-18-small.webp" alt="Фотография бежевого дивана 'С-80'">
        </picture>
        <h3 class="catalog-card__title">Диван из шинила “С&#8209;80”</h3>
        <p class="catalog-card__price">20&nbsp;990&nbsp;руб</p>
        <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
      </li>

    </ul>
    <button class="top-catalog__more button-primary" id="top-catalog-more">Смотреть&nbsp;больше&nbsp;товаров</button>
  </div>
</article>

<article class="oxford">
  <div class="oxford__banner oxford-banner">
    <div class="oxford-banner__container container">
      <h2 class="oxford-banner__title">Оксфорд 1950</h2>
      <p class="oxford-banner__description">
        Новая коллекция изысканных кресел
      </p>
      <a class="oxford-banner__link button-primary" href="javascript: void(0);">Ознакомиться</a>
    </div>
  </div>
</article>

<section class="categories">
  <div class="categories__container container">
    <h2 class="categories__title h2">Топ категории</h2>
    <ul class="categories__grid">

      <li class="categories__big-card categories__big-card-1920 categories__card category-card category-card_big category-card_sofas">
        <ul class="category-card__subcategories category-card__subcategories_big">
          <li class="category-card__subcategory-item category-card__subcategory-item_big">
            <a class="category-card__subcategory category-card__subcategory_big link-light common-link" href="javascript: void(0);">
              <span class="common-link__content">Прямые</span>
            </a>
          </li>
          <li class="category-card__subcategory-item category-card__subcategory-item_big">
            <a class="category-card__subcategory category-card__subcategory_big link-light common-link" href="javascript: void(0);">
              <span class="common-link__content">Угловые</span>
            </a>
          </li>
          <li class="category-card__subcategory-item category-card__subcategory-item_big">
            <a class="category-card__subcategory category-card__subcategory_big link-light common-link" href="javascript: void(0);">
              <span class="common-link__content">Модульные</span>
            </a>
          </li>
        </ul>
        <h3 class="category-card__title category-card__title_big">Диваны</h3>
        <a class="category-card__link category-card__link_big highlighted-link circle-button" href="catalog.html">
          В каталог
          <div class="circle-button__icon-wrapper">
          <svg class="highlighted-link__icon circle-button__icon">
            <use xlink:href="img/sprite.svg#circle-right"></use>
          </svg>
          </div>
        </a>
      </li>

      <li class="categories__card category-card category-card_beds">
        <ul class="category-card__subcategories">
          <li class="category-card__subcategory-item">
            <a class="category-card__subcategory link-light common-link" href="javascript: void(0);">
              <span class="common-link__content">Односпальные</span>
            </a>
          </li>
          <li class="category-card__subcategory-item">
            <a class="category-card__subcategory link-light common-link" href="javascript: void(0);">
              <span class="common-link__content">Двуспальные</span>
            </a>
          </li>
        </ul>
        <h3 class="category-card__title">Кровати</h3>
        <a class="category-card__link highlighted-link circle-button" href="catalog.html">
          В каталог
          <div class="circle-button__icon-wrapper">
          <svg class="highlighted-link__icon circle-button__icon">
            <use xlink:href="img/sprite.svg#circle-right"></use>
          </svg>
          </div>
        </a>
      </li>

      <li class="categories__big-card-1920 categories__card category-card category-card_armchairs">
        <ul class="category-card__subcategories">
          <li class="category-card__subcategory-item">
            <a class="category-card__subcategory link-light common-link" href="javascript: void(0);">
              <span class="common-link__content">Мягкие</span>
            </a>
          </li>
          <li class="category-card__subcategory-item">
            <a class="category-card__subcategory link-light common-link" href="javascript: void(0);">
              <span class="common-link__content">Кресла-кровати</span>
            </a>
          </li>
        </ul>
        <h3 class="category-card__title">Кресла</h3>
        <a class="category-card__link highlighted-link circle-button" href="catalog.html">
          В каталог
          <div class="circle-button__icon-wrapper">
          <svg class="highlighted-link__icon circle-button__icon">
            <use xlink:href="img/sprite.svg#circle-right"></use>
          </svg>
          </div>
        </a>
      </li>

      <li class="categories__card category-card category-card_dressers">
        <ul class="category-card__subcategories">
          <li class="category-card__subcategory-item">
            <a class="category-card__subcategory link-light common-link" href="javascript: void(0);">
              <span class="common-link__content">Тумбы</span>
            </a>
          </li>
          <li class="category-card__subcategory-item">
            <a class="category-card__subcategory link-light common-link" href="javascript: void(0);">
              <span class="common-link__content">Комоды</span>
            </a>
          </li>
        </ul>
        <h3 class="category-card__title">Тумбы и комоды</h3>
        <a class="category-card__link highlighted-link circle-button" href="catalog.html">
          В каталог
          <div class="circle-button__icon-wrapper">
          <svg class="highlighted-link__icon circle-button__icon">
            <use xlink:href="img/sprite.svg#circle-right"></use>
          </svg>
          </div>
        </a>
      </li>

      <li class="categories__card category-card category-card_chairs">
        <ul class="category-card__subcategories">
          <li class="category-card__subcategory-item">
            <a class="category-card__subcategory link-light common-link" href="javascript: void(0);">
              <span class="common-link__content">Деревянные</span>
            </a>
          </li>
          <li class="category-card__subcategory-item">
            <a class="category-card__subcategory link-light common-link" href="javascript: void(0);">
              <span class="common-link__content">Металлокаркас</span>
            </a>
          </li>
        </ul>
        <h3 class="category-card__title">Стулья</h3>
        <a class="category-card__link highlighted-link circle-button" href="catalog.html">
          В каталог
          <div class="circle-button__icon-wrapper">
          <svg class="highlighted-link__icon circle-button__icon">
            <use xlink:href="img/sprite.svg#circle-right"></use>
          </svg>
          </div>
        </a>
      </li>

    </ul>
  </div>
</section>

<article class="articles">
  <div class="articles__container container common-swiper">
    <h2 class="articles__title common-swiper__title h2">Полезное</h2>

    <div class="common-swiper__swiper articles-swiper swiper">
      <div class="common-swiper__wrapper swiper-wrapper">

        <div class="swiper-slide common-swiper__slide">
          <div class="common-swiper__card articles-card">
            <div class="articles-card__image-block articles-card__image-block_1"></div>
            <p class="articles-card__text">
              И нет сомнений, что сделанные на базе интернет&#8209;аналитики выводы представляют собой не что иное?
            </p>
            <a class="articles-card__link button-secondary swiper-no-swiping" href="javascript: void(0);">Читать</a>
          </div>
        </div>

        <div class="swiper-slide common-swiper__slide">
          <div class="common-swiper__card articles-card">
            <div class="articles-card__image-block articles-card__image-block_2"></div>
            <p class="articles-card__text">
              Как принято считать, некоторые особенности приносят несомненную пользу обществу?
            </p>
            <a class="articles-card__link button-secondary swiper-no-swiping" href="javascript: void(0);">Читать</a>
          </div>
        </div>

        <div class="swiper-slide common-swiper__slide">
          <div class="common-swiper__card articles-card">
            <div class="articles-card__image-block articles-card__image-block_3"></div>
            <p class="articles-card__text">
              Ясность нашей позиции очевидна: укрепление и развитие внутренней структуры?
            </p>
            <a class="articles-card__link button-secondary swiper-no-swiping" href="javascript: void(0);">Читать</a>
          </div>
        </div>

        <div class="swiper-slide common-swiper__slide">
          <div class="common-swiper__card articles-card">
            <div class="articles-card__image-block articles-card__image-block_4"></div>
            <p class="articles-card__text">
              Прежде всего, консультация с широким активом однозначно фиксирует необходимость распределения?
            </p>
            <a class="articles-card__link button-secondary swiper-no-swiping" href="javascript: void(0);">Читать</a>
          </div>
        </div>

        <div class="swiper-slide common-swiper__slide">
          <div class="common-swiper__card articles-card">
            <div class="articles-card__image-block articles-card__image-block_5"></div>
            <p class="articles-card__text">
              Как принято считать, некоторые особенности приносят несомненную пользу обществу?
            </p>
            <a class="articles-card__link button-secondary swiper-no-swiping" href="javascript: void(0);">Читать</a>
          </div>
        </div>

      </div>
    </div>

    <div class="articles__buttons common-swiper__buttons">
      <div class="articles__prev common-swiper__button circle-button swiper-button-prev" aria-hidden="true">
        <div class="circle-button__icon-wrapper">
        <svg class="circle-button__icon">
          <use xlink:href="img/sprite.svg#circle-left"></use>
        </svg>
        </div>
      </div>
      <div class="articles__next common-swiper__button circle-button swiper-button-next" aria-hidden="true">
        <div class="circle-button__icon-wrapper">
        <svg class="circle-button__icon">
          <use xlink:href="img/sprite.svg#circle-right"></use>
        </svg>
        </div>
      </div>
    </div>
  </div>
</article>

<section class="callback">
  <div class="callback__container container">
    <h2 class="callback__title h2">Мы всегда вам рады!</h2>
    <p class="callback__text">
      Безусловно, новая модель организационной деятельности в значительной степени обусловливает важность распределения внутренних резервов и ресурсов.&nbsp;<span class="tippy" data-tippy-content="Реплицированные с зарубежных источников, исследования формируют глобальную сеть.">
        <img class="tippy__icon lazy" src="#" data-src="./img/common/question.svg" alt="">
        <img class="tippy__icon-active" src="./img/common/question-filled.svg" alt="">
      </span>
    </p>
    <form class="callback__form" id="callback-form">
      <div class="common-label callback__input-wrapper" aria-live="polite">
        <input class="callback__input input-primary" id="callback-name" name="name" type="text" placeholder="Как вас зовут?" aria-label="Введите имя">
      </div>
      <div class="common-label callback__input-wrapper" aria-live="polite">
        <input class="callback__input input-primary phone-mask" id="callback-phone" name="phone" type="text" placeholder="Ваш телефон" aria-label="Введите номер телефона">
      </div>
      <div class="common-label callback__input-wrapper" aria-live="polite">
        <input class="callback__input input-primary" id="callback-email" name="email" type="text" placeholder="Ваш e-mail" aria-label="Введите адрес электронной почты">
      </div>
      <button class="callback__submit button-primary" id="callback-submit" type="submit">Отправить</button>
      <div class="callback__license-wrapper" aria-live="polite">
        <label class="callback__license common-label">
          <input class="callback__checkbox checkbox-primary" id="callback-license" type="checkbox">
          Принимаю
          <a class="callback__link underline-link" href="javascript: void(0);">
            пользовательское соглашение
          </a>
        </label>
      </div>
    </form>
  </div>
</section>

<div class="modal-wrapper" id="callback-modal">
  <div class="callback-modal common-modal">
    <button class="common-modal__close close-button" id="callback-modal-close" aria-label="Закрыть модальное окно">
      <svg class="close-button__icon">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <h2 class="callback-modal__text">Спасибо, мы вам перезвоним!</h2>
  </div>
</div>
