<section class="item-card">
  <div class="item-card__container container">
    <div class="item-card__swiper item-swiper swiper">
      <div class="item-swiper__wrapper swiper-wrapper">
        <!-- Slides -->
        <button class="item-swiper__slide swiper-slide clear-button">
          <picture class="item-swiper__picture">
            <source data-srcset="./img/item-card/1-1920.webp" media="(min-width: 1400px)">
              <source data-srcset="./img/item-card/1-1024.webp" media="(min-width: 1024px) and (max-width: 1399px)">
                <source data-srcset="./img/item-card/1-768.webp" media="(min-width: 576px) and (max-width: 1023px)">
                  <img class="item-swiper__image lazy" data-src="./img/item-card/1.webp" alt="Фотография синего дивана 'D-31'">
          </picture>
        </button>
        <button class="item-swiper__slide swiper-slide clear-button">
          <picture class="item-swiper__picture">
            <source data-srcset="./img/item-card/2-1920.webp" media="(min-width: 1400px)">
              <source data-srcset="./img/item-card/2-1024.webp" media="(min-width: 1024px) and (max-width: 1399px)">
                <source data-srcset="./img/item-card/2-768.webp" media="(min-width: 576px) and (max-width: 1023px)">
                  <img class="item-swiper__image lazy" data-src="./img/item-card/2.webp" alt="Фотография синего дивана 'D-31'">
          </picture>
        </button>
        <button class="item-swiper__slide swiper-slide clear-button">
          <picture class="item-swiper__picture">
            <source data-srcset="./img/item-card/3-1920.webp" media="(min-width: 1400px)">
              <source data-srcset="./img/item-card/3-1024.webp" media="(min-width: 1024px) and (max-width: 1399px)">
                <source data-srcset="./img/item-card/3-768.webp" media="(min-width: 576px) and (max-width: 1023px)">
                  <img class="item-swiper__image lazy" data-src="./img/item-card/3.webp" alt="Фотография синего дивана 'D-31' в профиль">
          </picture>
        </button>
        <button class="item-swiper__slide swiper-slide clear-button">
          <picture class="item-swiper__picture">
            <source data-srcset="./img/item-card/4-1920.webp" media="(min-width: 1400px)">
              <source data-srcset="./img/item-card/4-1024.webp" media="(min-width: 1024px) and (max-width: 1399px)">
                <source data-srcset="./img/item-card/4-768.webp" media="(min-width: 576px) and (max-width: 1023px)">
                  <img class="item-swiper__image lazy" data-src="./img/item-card/4.webp" alt="Фотография синего дивана 'D-31' сзади">
          </picture>
        </button>
        <button class="item-swiper__slide swiper-slide clear-button">
          <picture class="item-swiper__picture">
            <source data-srcset="./img/item-card/5-1920.webp" media="(min-width: 1400px)">
              <source data-srcset="./img/item-card/5-1024.webp" media="(min-width: 1024px) and (max-width: 1399px)">
                <source data-srcset="./img/item-card/5-768.webp" media="(min-width: 576px) and (max-width: 1023px)">
                  <img class="item-swiper__image lazy" data-src="./img/item-card/5.webp" alt="Фотография синего дивана 'D-31' в разложенном виде">
          </picture>
        </button>
      </div>
    </div>
    <div class="item-card__pagination item-pagination swiper-pagination horizontal-scroll" data-scroll-step="25">
      <div class="item-pagination__wrapper">
        <!-- <div class="item-pagination__bullet ${className}"> -->
        <!--    -->
        <!-- </div> -->
      </div>
    </div>

    <div class="item-card__main item-main">
      <div class="item-main__rating rating" aria-description="рейтинг">4,8</div>
      <h1 class="item-main__title">Диван тканевый прямой “D&#8209;31”</h1>
      <p class="item-main__description">
        Мини 120 см без ящика Stark синий (Рогожка)
      </p>
      <p class="item-main__price">28 490 руб</p>
      <button class="item-main__buy-button button-primary" id="buy-button">Купить в один клик</button>
      <button class="item-main__add-button underline-button">+ Добавить в корзину</button>
    </div>

    <div class="item-card__design design">
      <h2 class="design__title">Опорный механизм</h2>
      <div class="design__description">
        <p class="design__paragraph">
          Опорный механизм напоминает пантограф, к которому добавили дополнительную секцию. У опорного дивана сиденье «выпрыгивает» вперёд и вытаскивает вторую часть спального места. Заключительный штрих — опустить&nbsp;спинку.
        </p>
        <p class="design__paragraph">
          Этот механизм не портит пол и не боится ковров. Требуется чуть больше силы, чтобы разложить диван, но подросток справится.
        </p>
      </div>
      <div class="design__images">
        <picture class="design__picture">
          <source data-srcset="./img/item-card/scheme-1-1920.webp" media="(min-width: 1400px)">
            <source data-srcset="./img/item-card/scheme-1-1024.webp" media="(min-width: 1024px) and (max-width: 1399px)">
              <source data-srcset="./img/item-card/scheme-1-768.webp" media="(min-width: 576px) and (max-width: 1023px)">
                <img class="design__image lazy" data-src="./img/item-card/scheme-1.webp" alt="Рисунок механизма дивана">
        </picture>
        <picture class="design__picture">
          <source data-srcset="./img/item-card/scheme-2-1920.webp" media="(min-width: 1400px)">
            <source data-srcset="./img/item-card/scheme-2-1024.webp" media="(min-width: 1024px) and (max-width: 1399px)">
              <source data-srcset="./img/item-card/scheme-2-768.webp" media="(min-width: 576px) and (max-width: 1023px)">
                <img class="design__image lazy" data-src="./img/item-card/scheme-2.webp" alt="">
        </picture>
      </div>
    </div>

    <div class="item-card__specs specs">
      <h3 class="specs__title">
        Гарантия
        <span class="specs__leader"></span>
      </h3>
      <p class="specs__value">18 месяцев</p>

      <h3 class="specs__title">
        Артикул
        <span class="specs__leader"></span>
      </h3>
      <p class="specs__value">AAA41269004</p>

      <h3 class="specs__title">
        Длина
        <span class="specs__leader"></span>
      </h3>
      <p class="specs__value">163 см</p>

      <h3 class="specs__title">
        Высота
        <span class="specs__leader"></span>
      </h3>
      <p class="specs__value">90 см</p>

      <h3 class="specs__title">
        Глубина
        <span class="specs__leader"></span>
      </h3>
      <p class="specs__value">108 см</p>

      <h3 class="specs__title">
        Спальное место
        <span class="specs__leader"></span>
      </h3>
      <p class="specs__value">200 см х 125 см</p>

      <h3 class="specs__title">
        Высота посадки
        <span class="specs__leader"></span>
      </h3>
      <p class="specs__value">45 см</p>

      <h3 class="specs__title">
        Механизм
        <span class="specs__leader"></span>
      </h3>
      <p class="specs__value">Опорный</p>

      <h3 class="specs__title">
        Тип обивки
        <span class="specs__leader"></span>
      </h3>
      <p class="specs__value">Рогожка</p>

      <h3 class="specs__title">
        Цвет
        <span class="specs__leader"></span>
      </h3>
      <p class="specs__value">Синий</p>

      <h3 class="specs__title">
        Наполнитель
        <span class="specs__leader"></span>
      </h3>
      <p class="specs__value">Независимый пружинный блок</p>

      <h3 class="specs__title">
        Материал каркаса
        <span class="specs__leader"></span>
      </h3>
      <p class="specs__value">Металл. рама с дерев. латами</p>

      <h3 class="specs__title">
        Количество мест
        <span class="specs__leader"></span>
      </h3>
      <p class="specs__value">Двухместные</p>

      <h3 class="specs__title">
        Категория
        <span class="specs__leader"></span>
      </h3>
      <p class="specs__value">Прямые тканевые диваны</p>

      <h3 class="specs__title">
        Возврат
        <span class="specs__leader"></span>
      </h3>
      <p class="specs__value">Условия</p>
    </div>

  </div>
</section>

<article class="similar-items">
  <div class="similar-items__container container common-swiper">
    <h2 class="similar-items__title common-swiper__title h2">Похожие товары</h2>

    <div class="common-swiper__swiper similar-items-swiper swiper">
      <div class="common-swiper__wrapper swiper-wrapper">

        <div class="swiper-slide common-swiper__slide">
          <div class="common-swiper__card similar-items__card catalog-card">
            <div class="catalog-card__rating rating" aria-description="рейтинг">4,5</div>
            <picture class="catalog-card__picture">
              <source data-srcset="./img/catalog/catalog-16.webp" media="(min-width: 400px)">
                <img class="catalog-card__image lazy" data-src="./img/catalog/catalog-16-small.webp" alt="Тёмно-серый диван 'R-85'">
            </picture>
            <h3 class="catalog-card__title">Диван велюровый “R&#8209;85”</h3>
            <p class="catalog-card__price">34&nbsp;990&nbsp;руб</p>
            <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
          </div>
        </div>

        <div class="swiper-slide common-swiper__slide">
          <div class="common-swiper__card similar-items__card catalog-card">
            <div class="catalog-card__rating rating" aria-description="рейтинг">4,6</div>
            <picture class="catalog-card__picture">
              <source data-srcset="./img/catalog/catalog-11.webp" media="(min-width: 400px)">
                <img class="catalog-card__image lazy" data-src="./img/catalog/catalog-11-small.webp" alt="Фотография серо-голубого дивана 'H-58'">
            </picture>
            <h3 class="catalog-card__title">Диван флоковый “H&#8209;58”</h3>
            <p class="catalog-card__price">23&nbsp;990&nbsp;руб</p>
            <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
          </div>
        </div>

        <div class="swiper-slide common-swiper__slide">
          <div class="common-swiper__card similar-items__card catalog-card">
            <div class="catalog-card__rating rating" aria-description="рейтинг">4,5</div>
            <picture class="catalog-card__picture">
              <source data-srcset="./img/catalog/catalog-17.webp" media="(min-width: 400px)">
                <img class="catalog-card__image lazy" data-src="./img/catalog/catalog-17-small.webp" alt="Фотография серо-голубого дивана 'S-44'">
            </picture>
            <h3 class="catalog-card__title">Диван велюровый “S&#8209;44”</h3>
            <p class="catalog-card__price">19&nbsp;990&nbsp;руб</p>
            <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
          </div>
        </div>

        <div class="swiper-slide common-swiper__slide">
          <div class="common-swiper__card similar-items__card catalog-card">
            <div class="catalog-card__rating rating" aria-description="рейтинг">4,8</div>
            <picture class="catalog-card__picture">
              <source data-srcset="./img/catalog/catalog-7.webp" media="(min-width: 400px)">
                <img class="catalog-card__image lazy" data-src="./img/catalog/catalog-7-small.webp" alt="Фотография светло-серого дивана 'V-43'">
            </picture>
            <h3 class="catalog-card__title">Диван шиниловый “V&#8209;43”</h3>
            <p class="catalog-card__price">19&nbsp;990&nbsp;руб</p>
            <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
          </div>
        </div>

        <div class="swiper-slide common-swiper__slide">
          <div class="common-swiper__card similar-items__card catalog-card">
            <div class="catalog-card__rating rating" aria-description="рейтинг">4,8</div>
            <picture class="catalog-card__picture">
              <source data-srcset="./img/catalog/catalog-7.webp" media="(min-width: 400px)">
                <img class="catalog-card__image lazy" data-src="./img/catalog/catalog-7-small.webp" alt="Фотография светло-серого дивана 'V-43'">
            </picture>
            <h3 class="catalog-card__title">Диван шиниловый “V&#8209;43”</h3>
            <p class="catalog-card__price">19&nbsp;990&nbsp;руб</p>
            <a class="catalog-card__button button-secondary" href="item-card.html">Купить</a>
          </div>
        </div>

      </div>
    </div>

    <div class="similar-items__buttons common-swiper__buttons">
      <div class="similar-items__prev common-swiper__button circle-button swiper-button-prev" aria-hidden="true">
        <div class="circle-button__icon-wrapper">
          <svg class="circle-button__icon">
            <use xlink:href="img/sprite.svg#circle-left"></use>
          </svg>
        </div>
      </div>
      <div class="similar-items__next common-swiper__button circle-button swiper-button-next" aria-hidden="true">
        <div class="circle-button__icon-wrapper">
          <svg class="circle-button__icon">
            <use xlink:href="img/sprite.svg#circle-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</article>

<div class="modal-wrapper" id="callback-modal">
  <div class="callback-modal common-modal">
    <button class="common-modal__close close-button" id="callback-modal-close" aria-label="Закрыть модальное окно">
      <svg class="close-button__icon">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <p class="callback-modal__text">Спасибо, мы вам перезвоним!</p>
  </div>
</div>

<div class="modal-wrapper" id="form-modal">
  <div class="form-modal common-modal">
    <button class="common-modal__close close-button" id="form-modal-close" aria-label="Закрыть модальное окно">
      <svg class="close-button__icon">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
    <h2 class="form-modal__title">Купить в один клик</h2>
    <p class="form-modal__description">
      Чтобы оформить заказ — заполните формы ниже и наш менеджер свяжется с вами в течении часа.
    </p>
    <form class="form-modal__form" id="buy-form">
      <div class="common-label form-modal__label" aria-live="polite">
        <input class="form-modal__input input-primary" id="buy-name" type="text" placeholder="Как вас зовут?" aria-label="Введите имя">
      </div>
      <div class="common-label form-modal__label" aria-live="polite">
        <input class="form-modal__input input-primary phone-mask" id="buy-phone" type="text" placeholder="Ваш телефон" aria-label="Введите номер телефона">
      </div>
      <button class="form-modal__submit button-primary" type="submit">Отправить</button>
      <div class="form-modal__license-wrapper" aria-live="polite">
        <label class="form-modal__license">
          <input class="form-modal__checkbox checkbox-primary" id="buy-license" type="checkbox">
          Принимаю
          <a class="form-modal__link underline-link" href="javascript: void(0);">
            пользовательское соглашение
          </a>
        </label>
      </div>
    </form>
  </div>
</div>

<div class="modal-wrapper" id="images-modal">
  <div class="images-modal common-modal">
    <button class="common-modal__close close-button" id="images-modal-close" aria-label="Закрыть модальное окно">
      <svg class="close-button__icon">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>

    <div class="images-modal__swiper modal-swiper swiper container">
      <div class="modal-swiper__wrapper swiper-wrapper">
        <!-- Slides -->
        <div class="modal-swiper__slide swiper-slide" style="opacity: 1;">
          <picture class="modal-swiper__picture">
            <source data-srcset="./img/item-card/1-1920.webp" media="(min-width: 1400px)">
              <source data-srcset="./img/item-card/1-1024.webp" media="(min-width: 1024px) and (max-width: 1399px)">
                <source data-srcset="./img/item-card/1-768.webp" media="(min-width: 576px) and (max-width: 1023px)">
                  <img class="modal-swiper__image lazy" data-src="./img/item-card/1.webp" alt="Фотография синего дивана 'D-31'">
          </picture>
        </div>
        <div class="modal-swiper__slide swiper-slide">
          <picture class="modal-swiper__picture">
            <source data-srcset="./img/item-card/2-1920.webp" media="(min-width: 1400px)">
              <source data-srcset="./img/item-card/2-1024.webp" media="(min-width: 1024px) and (max-width: 1399px)">
                <source data-srcset="./img/item-card/2-768.webp" media="(min-width: 576px) and (max-width: 1023px)">
                  <img class="modal-swiper__image lazy" data-src="./img/item-card/2.webp" alt="Фотография синего дивана 'D-31'">
          </picture>
        </div>
        <div class="modal-swiper__slide swiper-slide">
          <picture class="modal-swiper__picture">
            <source data-srcset="./img/item-card/3-1920.webp" media="(min-width: 1400px)">
              <source data-srcset="./img/item-card/3-1024.webp" media="(min-width: 1024px) and (max-width: 1399px)">
                <source data-srcset="./img/item-card/3-768.webp" media="(min-width: 576px) and (max-width: 1023px)">
                  <img class="modal-swiper__image lazy" data-src="./img/item-card/3.webp" alt="Фотография синего дивана 'D-31' в профиль">
          </picture>
        </div>
        <div class="modal-swiper__slide swiper-slide">
          <picture class="modal-swiper__picture">
            <source data-srcset="./img/item-card/4-1920.webp" media="(min-width: 1400px)">
              <source data-srcset="./img/item-card/4-1024.webp" media="(min-width: 1024px) and (max-width: 1399px)">
                <source data-srcset="./img/item-card/4-768.webp" media="(min-width: 576px) and (max-width: 1023px)">
                  <img class="modal-swiper__image lazy" data-src="./img/item-card/4.webp" alt="Фотография синего дивана 'D-31' сзади">
          </picture>
        </div>
        <div class="modal-swiper__slide swiper-slide">
          <picture class="modal-swiper__picture">
            <source data-srcset="./img/item-card/5-1920.webp" media="(min-width: 1400px)">
              <source data-srcset="./img/item-card/5-1024.webp" media="(min-width: 1024px) and (max-width: 1399px)">
                <source data-srcset="./img/item-card/5-768.webp" media="(min-width: 576px) and (max-width: 1023px)">
                  <img class="modal-swiper__image lazy" data-src="./img/item-card/5.webp" alt="Фотография синего дивана 'D-31' в разложенном виде">
          </picture>
        </div>
      </div>
    </div>

    <div class="images-modal__navigation container">
      <div class="images-modal__prev common-swiper__button circle-button swiper-button-prev" aria-hidden="true">
        <div class="circle-button__icon-wrapper">
          <svg class="circle-button__icon">
            <use xlink:href="img/sprite.svg#circle-left"></use>
          </svg>
        </div>
      </div>

      <div class="images-modal__thumbnails thumbnail-swiper swiper" aria-hidden="true">
        <div class="thumbnail-swiper__wrapper swiper-wrapper">
          <!-- <button class="thumbnail-swiper__button swiper-slide clear-button"> -->
          <!--   <picture class="thumbnail-swiper__picture"> -->
          <!--     <source data-srcset="./img/item-card/1-1920.webp" media="(min-width: 1400px)"> -->
          <!--     <source data-srcset="./img/item-card/1-1024.webp" media="(min-width: 1024px) and (max-width: 1399px)"> -->
          <!--     <source data-srcset="./img/item-card/1-768.webp" media="(min-width: 576px) and (max-width: 1023px)"> -->
          <!--     <img class="thumbnail-swiper__image lazy" data-src="./img/item-card/1.webp" alt=""> -->
          <!--   </picture> -->
          <!-- </button> -->
          <button class="thumbnail-swiper__button swiper-slide clear-button">
            <picture class="thumbnail-swiper__picture">
              <source data-srcset="./img/item-card/2-1920.webp" media="(min-width: 1400px)">
                <source data-srcset="./img/item-card/2-1024.webp" media="(min-width: 1024px) and (max-width: 1399px)">
                  <source data-srcset="./img/item-card/2-768.webp" media="(min-width: 576px) and (max-width: 1023px)">
                    <img class="thumbnail-swiper__image lazy" data-src="./img/item-card/2.webp" alt="">
            </picture>
          </button>
          <button class="thumbnail-swiper__button swiper-slide clear-button">
            <picture class="thumbnail-swiper__picture">
              <source data-srcset="./img/item-card/3-1920.webp" media="(min-width: 1400px)">
                <source data-srcset="./img/item-card/3-1024.webp" media="(min-width: 1024px) and (max-width: 1399px)">
                  <source data-srcset="./img/item-card/3-768.webp" media="(min-width: 576px) and (max-width: 1023px)">
                    <img class="thumbnail-swiper__image lazy" data-src="./img/item-card/3.webp" alt="">
            </picture>
          </button>
          <button class="thumbnail-swiper__button swiper-slide clear-button">
            <picture class="thumbnail-swiper__picture">
              <source data-srcset="./img/item-card/4-1920.webp" media="(min-width: 1400px)">
                <source data-srcset="./img/item-card/4-1024.webp" media="(min-width: 1024px) and (max-width: 1399px)">
                  <source data-srcset="./img/item-card/4-768.webp" media="(min-width: 576px) and (max-width: 1023px)">
                    <img class="thumbnail-swiper__image lazy" data-src="./img/item-card/4.webp" alt="">
            </picture>
          </button>
          <button class="thumbnail-swiper__button thumbnail-swiper__button_4 swiper-slide clear-button">
            <picture class="thumbnail-swiper__picture">
              <source data-srcset="./img/item-card/5-1920.webp" media="(min-width: 1400px)">
                <source data-srcset="./img/item-card/5-1024.webp" media="(min-width: 1024px) and (max-width: 1399px)">
                  <source data-srcset="./img/item-card/5-768.webp" media="(min-width: 576px) and (max-width: 1023px)">
                    <img class="thumbnail-swiper__image lazy" data-src="./img/item-card/5.webp" alt="">
            </picture>
          </button>
        </div>
      </div>

      <div class="images-modal__next common-swiper__button circle-button swiper-button-next" aria-hidden="true">
        <div class="circle-button__icon-wrapper">
          <svg class="circle-button__icon">
            <use xlink:href="img/sprite.svg#circle-right"></use>
          </svg>
        </div>
      </div>

    </div>

  </div>
</div>
