$color-gold: #d5b986;
$color-primary: #a65cf0;
$color-primary-light: #c998fb;
$color-primary-shade: #7033ac;
$color-secondary: #ff862f;
$color-secondary-light: #ffbd59;
$color-secondary-shade: #bb370e;
$color-bone: #fff5d1;
$color-gray-light: #f6f6f6;
$color-gray-middle: #eaeaea;
$color-gray: #999;
$color-gray-shade: #666;
$color-black: #333;
$color-pink-light: #f8efff;
$color-pink-violet: #ebd1ff;
$color-red-input: #ff6972;
$color-green-input: #b8ec64;

$font-open-sans: "Open Sans", sans-serif;
$font-playfair-display: "Playfair Display", sans-serif;

$transition-duration: 150ms;
$transition-animation-duration: 300ms;
$transition-timing: ease-in-out;

$common-link-bg-offset-vertical: 1px;
$common-link-bg-offset-horizontal: 10px;
$transparent-button-bg-offset-vertical: 4px;
$transparent-button-bg-offset-horizontal: 4px;
